@{
    ViewData["Title"] = "Checkout";
     if(Context.Session.GetString("success") != null){
       @:<script>alert("Thanh toán thành công!!!")</script>
       Context.Session.Remove("success");
     }
}
@model WebShop.Models.Customer;
@using Microsoft.AspNetCore.Http 
<!-- Begin Li's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="">Home</a></li>
                            <li class="active">@ViewData["Title"]</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!--Checkout Area Strat-->
            <div class="checkout-area pt-60 pb-30">
                <div class="container">
                    @if(Context.Session.GetInt32("idUser") == null){
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="coupon-accordion">
                                <!--Accordion Start-->
                                <h3>Returning customer? <span id="showlogin">Click here to login</span></h3>
                                <div id="checkout-login" class="coupon-content">
                                    <div class="coupon-info">
                            @using (Html.BeginForm("Login", "Checkout", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="login-form">
                                    <h4 class="login-title">Login</h4>
                                    <div class="row">
                                        <div class="col-md-12 col-12 mb-20">
                                        @Html.LabelFor(m => m.UserName)
                                        @Html.TextBoxFor(m => m.UserName, "", new { @class = "mb-0", @placeholder = "User Name" })
                                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "badge badge-danger" })
                                        </div>
                                        <div class="col-12 mb-20">
                                        @Html.LabelFor(m => m.PassWord)
                                        @Html.TextBoxFor(m => m.PassWord, "", new { @class = "mb-0", @placeholder = "PassWord" ,@type="Password"})
                                        @Html.ValidationMessageFor(m => m.PassWord, "", new { @class = "badge badge-danger" })
                                        </div>
                                        <div class="col-md-8">
                                        @if (Context.Session.GetString("loginfail") != null)
                                        {
                                            <span class="badge badge-danger">@Context.Session.GetString("loginfail")</span>                                           
                                        }
                                        </div>
                                        <div class="col-md-4 mt-10 mb-20 text-left text-md-right">
                                            <a href="#"> Forgotten pasward?</a>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="submit" class="register-button mt-0">Login</button>
                                        </div>
                                    </div>
                                    </div>
                                }
                                    </div>
                                </div>
                                <!--Accordion End-->
                                 </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="your-order">
                                <h3>Your order</h3>
                                <div class="your-order-table table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="cart-product-name">Product</th>
                                                <th class="cart-product-total">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.cart)
                                            {
                                            <tr class="cart_item">
                                              <td class="cart-product-name">@item.Product.Productname <strong class="product-quantity">x @item.Quantity</strong></td>
                                              <td class="cart-product-total"><span class="amount">@string.Format("{0:N0}",item.Product.Price * item.Quantity)VNĐ</span></td>  
                                            </tr>
                                            }
                                            @foreach (var item in ViewBag.cartcombo)
                                            {
                                            <tr class="cart_item">
                                              <td class="cart-product-name">@item.Combo.ComboName <strong class="product-quantity">x @item.Quantity</strong></td>
                                              <td class="cart-product-total"><span class="amount">@string.Format("{0:N0}",item.Combo.Total * item.Quantity)VNĐ</span></td>  
                                            </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr class="cart-subtotal">
                                                <th>Cart Subtotal</th>
                                                <td><span class="amount">@string.Format("{0:N0}",@ViewBag.total)VNĐ</span></td>
                                            </tr>
                                            <tr class="order-total">
                                                <th>Order Total</th>
                                                <td><strong><span class="amount">@string.Format("{0:N0}",@ViewBag.total)VNĐ</span></strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="payment-method">
                                    <div class="payment-accordion">
                                        <div id="accordion">
                                          <div class="card">
                                            <div class="card-header" id="#payment-1">
                                              <h5 class="panel-title">
                                                <a class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                  Direct Bank Transfer.
                                                </a>
                                              </h5>
                                            </div>
                                            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                              <div class="card-body">
                                                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="card">
                                            <div class="card-header" id="#payment-2">
                                              <h5 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                  Cheque Payment
                                                </a>
                                              </h5>
                                            </div>
                                            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                              <div class="card-body">
                                                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="card">
                                            <div class="card-header" id="#payment-3">
                                              <h5 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                  PayPal
                                                </a>
                                              </h5>
                                            </div>
                                            <div id="collapseThree" class="collapse" data-parent="#accordion">
                                              <div class="card-body">
                                                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }else{
                        @using (Html.BeginForm("Save", "Checkout", FormMethod.Post,new { @class="row" }))
                        {
                        @Html.AntiForgeryToken()
                        <div class="col-lg-6 col-12">
                                <div class="checkbox-form">
                                    <h3>Billing Details</h3>
                                    <div class="row">
                                      <input  type="hidden" name="Id" value="@ViewBag.cuslogin.Id">
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>First Name <span class="required">*</span></label>
                                                @if(ViewBag.cuslogin != null){
                                                    <input disabled placeholder="" type="text" value="@ViewBag.cuslogin.FirstName">

                                                }else{
                                                    <input placeholder="" type="text" value="">
                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>Last Name <span class="required">*</span></label>
                                                @if(ViewBag.cuslogin != null){
                                                    <input disabled placeholder="" type="text" value="@ViewBag.cuslogin.LastName">
                                                }else{
                                                    <input placeholder="" type="text" value="">
                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label>Address <span class="required">*</span></label>
                                                @if(ViewBag.cuslogin != null){
                                                    <input class="mb-0" data-val="true" data-val-length="The field Address must be a string with a minimum length of 3 and a maximum length of 1000." data-val-length-max="1000" data-val-length-min="3" data-val-required="The Address field is required." id="Address" maxlength="1000" name="Address" placeholder="Address" type="text" value="@ViewBag.cuslogin.Address">
                                                }else{
                                                    <input class="mb-0" data-val="true" data-val-length="The field Address must be a string with a minimum length of 3 and a maximum length of 1000." data-val-length-max="1000" data-val-length-min="3" data-val-required="The Address field is required." id="Address" maxlength="1000" name="Address" placeholder="Address" type="text" value="">
                                                }
                                                @Html.ValidationMessageFor(m => m.Address, "", new { @class = "badge badge-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label>Town / City <span class="required">*</span></label>
                                                <input type="text" name="City">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>State / County <span class="required">*</span></label>
                                                <input placeholder="" type="text" name="County">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>Postcode / Zip <span class="required">*</span></label>
                                                <input placeholder="" type="text" name="Postcode">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>Email Address <span class="required">*</span></label>
                                                @if(ViewBag.cuslogin != null){
                                                    <input disabled placeholder="" type="email" value="@ViewBag.cuslogin.Email">
                                                }else{
                                                    <input placeholder="" type="email" value="">
                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>Phone  <span class="required">*</span></label>
                                                 @if(ViewBag.cuslogin != null){
                                                <input disabled type="text" name="Phone" value="@ViewBag.cuslogin.Phone">
                                                }else{
                                                    <input placeholder="" type="text" value="">
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-notes">
                                            <div class="checkout-form-list">
                                                <label>Order Notes</label>
                                                <textarea id="checkout-mess" cols="30" rows="10" name="Odernote" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                            </div>
                                    </div>
                                </div>
                            
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="your-order">
                                <h3>Your order</h3>
                                <div class="your-order-table table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="cart-product-name">Product</th>
                                                <th class="cart-product-total">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.cart)
                                            {
                                            <tr class="cart_item">
                                              <td class="cart-product-name">@item.Product.Productname <strong class="product-quantity">x @item.Quantity</strong></td>
                                              <td class="cart-product-total"><span class="amount">@string.Format("{0:N0}",item.Product.Price * item.Quantity)VNĐ</span></td>  
                                            </tr>
                                            }
                                            @foreach (var item in ViewBag.cartcombo)
                                            {
                                            <tr class="cart_item">
                                              <td class="cart-product-name">@item.Combo.ComboName <strong class="product-quantity">x @item.Quantity</strong></td>
                                              <td class="cart-product-total"><span class="amount">@string.Format("{0:N0}",item.Combo.Total * item.Quantity)VNĐ</span></td>  
                                            </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr class="cart-subtotal">
                                                <th>Cart Subtotal</th>
                                                <td><span class="amount">@string.Format("{0:N0}",@ViewBag.total)VNĐ</span></td>
                                            </tr>
                                            <tr class="order-total">
                                                <th>Order Total</th>
                                                <input type="hidden" name="total" value="@ViewBag.total">
                                                <input type="hidden" name="count" value="@ViewBag.count">
                                                <td><strong><span class="amount">@string.Format("{0:N0}",@ViewBag.total)VNĐ</span></strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="payment-method">
                                    <div class="payment-accordion">
                                        <div id="accordion">
                                          <div class="card">
                                            <div class="card-header" id="#payment-1">
                                              <h5 class="panel-title">
                                                <a class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                  Direct Bank Transfer.
                                                </a>
                                              </h5>
                                            </div>
                                            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                              <div class="card-body">
                                                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="card">
                                            <div class="card-header" id="#payment-2">
                                              <h5 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                  Cheque Payment
                                                </a>
                                              </h5>
                                            </div>
                                            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                              <div class="card-body">
                                                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="card">
                                            <div class="card-header" id="#payment-3">
                                              <h5 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                  PayPal
                                                </a>
                                              </h5>
                                            </div>
                                            <div id="collapseThree" class="collapse" data-parent="#accordion">
                                              <div class="card-body">
                                                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        @if(@ViewBag.total > 0){
                                          <div class="order-button-payment">
                                              <input value="Place order" type="submit"  >
                                          </div>
                                        }else{
                                          <div class="order-button-payment">
                                            <a class="btn" asp-controller="Product" asp-action="Index">Buy Something</a>
                                          </div>
                                        }
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    }
                </div>
            </div>
            <!--Checkout Area End-->
       